#d1{
    border: 5px solid #000;
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-weight: 900;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}
#d1 span{
    background: linear-gradient( 90deg,rgb(224, 75, 75),rgb(5, 87, 26));
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px black; 
}
#d2{
    border: 5px solid #da2020;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: rgb(162, 218, 22);
    margin: 0 0 0 50px;
    padding: 10px 20px 30px 40px;
    box-shadow: 5px 5px 2px 1px black;
}