/* #d1{
    width: 500px;
    height: 50px;
    border: 1px solid #000;
    #d2{
        background-color: blue;
        width: 2%;
        height: 50px;
    }
}
#d1:hover{
    #d2{
        background-color: blue;
        width: 100%;
        transition: width 5s ease-in;
    }
} */




/* multiple transition */
 /* #d1{
    width: 500px;
    height: 50px;
    border: 1px solid #000;
    #d2{
        background-color: red;
        width: 0%;
        height: 50px;
    }
}
#d1:hover{
    #d2{
        background-color: green;
        width: 100%;
        transition: width 5s ease-in-out, background-color 5s ease-in-out;
    }
} */


/* i want yellow color in 50% */
#d1{
    width: 500px;
    height: 50px;
    border: 1px solid #000;
    #d2{
        height: 50px;
    }
}
#d1:hover{
    #d2{
         animation: myAnimation 5s linear;
    }
}
@keyframes myAnimation {
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: yellow;
    }
    100%{
        width: 100%;
        background-color: green;
    }
}