*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#navbar{
    width: 100vw;
    height: 71px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    z-index: 99; */
    background-color: #00B7B5; 
}

#navBtn{
    
    padding: 115px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

#headingRICR{
    padding: 100px;
    font-size: 40px;
    font-weight:bold;
    
}

.NavBtn{
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #00B7B5;
}
.NavBtn:hover{
    background-color: #005461;
}


#headingHero{
    margin-top: 10px;
    text-align: center;
    font-weight: 30px;
}

#paraHero{
    padding: 10px;
    margin: 10px;
    line-height: 25px;
}

#startedBtn{
    border-radius: 5px;
    padding: 5px;
    border: none;
   position: relative;
   left: 50vw;
   background-color: #00B7B5;
}

#startedBtn:hover{
    background-color: #005461;
}

.btn:hover{
    background-color: #005461;
}


#courseSection{
    
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


.card{
     border: 3px solid #005461aa;
}
.card:hover {
    background-color: #005461aa;

}


/* #enrol:hover {

    background-color: #005461;
} */