#cont{
   background-color: #9CC6DB;
   height: 480px;
   width: 500px;
   margin-top: 60px;
   margin-left: 500px;
   border-radius: 45px;
   padding: 15px;
}

h1{
    height: 60px;
    text-align: center;
    padding: 10px 0px 0px 10px;
    background-color: #FCF6D9;
    border-radius: 25px 25px 0px 0px;
}



#service{
    margin-top: 10px;
}
#billAmount{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

#billAmount:hover{
    background-color: #FCF6D9;
}

#select{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 230px;
}



#select:hover{
    background-color: #FCF6D9;
}


#container{
    height: 300px;
    width: 470px;
    font-size: 20px;
    padding: 18px;
    background-color: #DDBA7D;
    border-radius: 0px 0px 10px 10px;
}

#tno{
    margin-top: 10px;
}

#totalNumber{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

#totalNumber:hover{
    background-color: #FCF6D9;
}

#btn{
    margin-top: 15px;
}


#calBtn{
    border: none;
    border-radius: 5px;
}

#calBtn:hover{
    background-color: #FCF6D9;
}

#calBtn:active{
    background-color: #CF4B00;
}