#mainBox{
    height: 400px;
    width: 1200px;
    border: 1px solid #000;
    margin-left: 150px;
    margin-top: 100px;
    display: flex;
}


.box{
    height: 200px;
    width: 600px;
    border: 1px solid #000;
    margin: 50px;
    padding: 50px;
    line-height: 40px;
}
h1,p{
    text-align: center;
}

#user{
    margin: 50px;
    padding: 50px;
}

.choice{
    padding: 0px;
    margin: 10px;
}