*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDFFF0;
    
}


img{
    height: 85vh;
    aspect-ratio: 1;
    margin: 0 auto;
}

#div{
    width: fit-content;
    margin: 0 auto;
}

#parent{
    width: 100%;
    display: flex;
    justify-content: center;

}

#reset{
    background-color: #FDEDED;
    width: 100px;
}

#reset:hover{
    background-color: #F875AA;
}

#reset:active{
    background-color: #AEDEFC;
}

#state{
    background-color: #FDEDED;
}

#state:hover{
    background-color: #F875AA;
}

#state:active{
    background-color:  #AEDEFC;
}