*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#navbar{
    width: 100vw;
    height: 71px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
}

#heading{
    padding: 100px;
}

#list{
    display: flex;
    gap: 48px;
    list-style: none;
}

.dot{
    text-decoration: none;

}

#navBtn{
    padding: 115px;
}
#signIn{
    border:  none;
    background-color: white;
    padding: 8px;
    font-size: medium;
    
}

#signIn:hover{
  background-color: #c9c5c5;
  cursor: pointer;
  border-radius: 20px;
}

#blocks{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 7px;
}
#blocks:active {
  background-color: #1e2a2fcf;
}
#blocks:hover {
   box-shadow: 5px 5px 10px gray;
}

#offerBtn{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 7px;
}
.detailsBtn:hover {
   box-shadow: 5px 5px 10px gray;
}
#offerBtn:active {
  background-color: #1e2a2fcf;
}
#offerBtn:hover {
   box-shadow: 5px 5px 10px gray;
}

/* .................................................................................................................. */
#mail{
    height: 36px;
    width: 200px;
}

#secA{
    display: flex;
    justify-content:center;
    gap: 100px;
    align-items: center;
    padding-top: 90px;
    
}
#mainPhoto{
    height: 576px;
    width: 640px;
    padding-left: 50px;
    margin-top: 10px;
    border-radius: 20px;
   

}

#welcome{
    
    padding-top: 10px;
    position: relative;
    left: 0px;
}

#line{
    color: grey;
    line-height: 15px;
    font-size: 20px;
}

#mail{
    position: relative;
    width: 380px;
}

#mailAndOffer{
    justify-content: center;
    gap:200px;
}
/* ........................................................................................................................................................................... */
#client{
    margin-top: 100px;
    text-align: center;
}
#clientsPhotos{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 40px;
    padding-left: 190px;
    padding-right: 190px;
    list-style: none;
    margin-bottom: 90px;
}
.clientsPho{
    height: 80px;
    width: 160px;
}
#mySkill{
    
    margin-top: 100px;
    text-align: center;
}
#whatIDo{
    text-align: center;
    line-height: 100px;
}
#para1{
    color: grey;
    text-align: center;
    margin-bottom: 80px;
}
.skill{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 70px;

}
/* ..............................................////////////////////////////////////////////////////////////// */

#projects {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#myProject{
  padding-left: 635px;
  
  h1{
    margin-top: 90px;
    align-items: center;
    font-size: 38px;
  }
}
#projDesc{
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  color: grey;
  padding-top: 15px;
}

#projectContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.projectCard {
    background-color: white;
    /* box-shadow: 0px 2px 8px rgba(0,0,0,0.1); */
    border-radius: 15px;
    padding: 20px;
    text-align: left;
}

.projectImg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.projectTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.projectDesc {
    color: grey;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
}

.detailsBtn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: #1e2a2f;

}
.detailsBtn:hover {
   box-shadow: 5px 5px 10px gray;
}
.detailsBtn:active {
  background-color: #1e2a2fd2;
}




/* ................................................................/////////////////////////////////////////////////////////////////////// */

#resumeSection {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#resumeContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    margin-bottom: 80px;
}

#resumeLeft {
    width: 45%;
}

#resumeRight {
    width: 45%;
}

#resumePara {
    color: grey;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#viewMore {
    font-size: 14px;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-top: 12px;
    
}
#viewMore:hover {
    font-size: 14px;
    color: rgb(240, 239, 239);
    background-color: grey;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.resumeBox {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
    color: grey;
}

.resumeIcon {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 8px;
    padding: 5px;
}

#clientsay {
    text-align: center;
    margin-top: 80px;
}

#clientPara {
    color: grey;
    font-size: 16px;
    line-height: 25px;
    width: 60%;
    margin: 10px auto;
}


/* .............................................................................////////////////////////////////////////////////////////////// */

/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fff;
}

.section {
  padding: 70px 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  color: #111;
}

.section-title p {
  font-size: 20px;
  color: #555;
  line-height: 28px;
  margin-top: 10px;
  color: grey;
}

/* Testimonials Section */
#testimonials-section .testimonial-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.testimonial-text {
  flex: 1;
  min-width: 300px;
  margin-top: 50px;
}

.testimonial-text h3 {
  padding-left: 150px;
  font-size: 28px;
  margin-bottom: 10px;
  
}

.testimonial-text p {
  padding-left: 150px;
  color: #444;
  font-size: 18px;
  line-height: 30px;
  color: grey;
}

.client-name {
  margin-top: 15px;
  font-size: 14px;
}

.client-avatars {
  padding-left: 150px;
  margin-top: 20px;
}

.client-avatars img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-image {
  margin-top: 40px;
  flex: 1;
  text-align: right;
}

.testimonial-image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Clients Section */
#clients-section {

  padding: 70px 0;
  text-align: center;
}

#clients-section .small-heading {
  font-size: 16px;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#clients-section h2 {
  margin-top: 10px;
  font-size: 28px;
  color: #111;
}

.client-logos {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.fade-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.client-logos img {
  width: 150px;
  height: 200px;
  opacity: 0.9;
}

/* Contact Section */
#contactHeading {
  text-align: center;
  margin: 80px 0 50px 0;
  font-family: 'Inter', sans-serif;
}

#contactHeading h2 {
  font-size: 50px;
  font-weight: 700;
  color: #1e2a2f;
  margin-bottom: 20px;
}

#contactHeading p {
  color: #777;
  font-size: 18px;
  font-weight: 150;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.contact-container {
  display: flex;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  gap: 30px;
  max-width: 1200px;
  width: 95%;
  height: 480px;
}

.contact-info {
  background: #1e1e1e;
  color: #fff;
  flex: 1;
  border-radius: 10px;
  padding: 40px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  color: #bdbdbd;
  font-size: 16px;
  margin-bottom: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  font-weight: 600;
 
}

.pp{
 display: flex;
  position: relative;
  top:10px;
}
.icon {
  font-size: 20px;
}

.contact-form {
  flex: 2;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

form {
  width: 100%;
}

.row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: skyblue;
}

.full-width {
  flex: 100%;
}

label {
  font-size: 14px;
  color: #607080;
  margin-bottom: 6px;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid #b0bec5;
  padding: 10px 0;
  outline: none;
  font-size: 15px;
}

textarea {
  height: 80px;
  resize: none;
}

.radio-group {
  display: flex;
  gap: 25px;
  margin-top: 8px;
  color: #607080;
}

.radio-group input {
  margin-right: 6px;
  accent-color: #000;
}

.send-btn {
  background: #1e1e1e;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  margin-left: 540px;
}
.send-btn:hover {
   box-shadow: 5px 5px 10px gray;
}
.send-btn:active {
   background-color: #222;
   color: wheat;
}



/* .............footer....................... */

/* Footer Section */
#footerSection {
  border-top: 1px solid #eee;
  padding: 20px 40px;
  font-family: 'Inter', sans-serif;
  color: #555;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  font-size: 15px;
  line-height: 1.5;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-right a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  transition: color 0.2s ease;
}

.footer-right a:hover {
  color: #000;
}

#subscribeBtn {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#subscribeBtn:hover {
   box-shadow: 5px 5px 10px gray;
   background-color: #1e2a2f;
}
#subscribeBtn:active {
  background-color: #080707dc;
}