*{
    margin: 0px;
    padding: 0px;
}
#box{
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    position: absolute;
    animation: movingBox 3s linear infinite;
    img{
        height: 100px;
        width: 100px;

    }
}

@keyframes movingBox {
    0%{
        top: 0px;
        left: 0px;
        background-color: red;
    }
    25%{
        top: 0px;
        left: 500px;
        background-color: yellow;
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: green;
    }
    75%{
        top: 500px;
        left: 0px;
        background-color: blue;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: red;
    }
}