.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;;
}
.bg-pink{
    background-color: pink;
}
.bg-blue{
    background-color: rgb(16, 136, 183);
}
.bg-green{
    background-color: greenyellow;
}