.container{
    background-color: rgb(0, 0, 0);
    height: 700px;
    width: 45%;
    display: flex;
    position: relative;
    left: 400px;
    justify-content: center;
    border: 1px solid black;
}
.s1{
    background-color: rgb(2, 11, 70);
    height: 700px;
    width: 190px;
}
.s2{
    background-color: rgb(220, 224, 225);
    height: 700px;
    width: 500px;

}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 17px;
}
.name{
    color: white;
    font-size: medium;
}
.prof{
    color: yellow;
    font-size: medium;
}