*{
    margin: 0;
    padding: 0;
}
.navBar{
    border: 1px solid #000;
    background-color: rgba(0, 0, 255, 0.678);
    color: aliceblue;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    
}
#links{
    display: flex;
    gap: 20px;
}
button{
    background-color: red;
    position: fixed;
    bottom: 40px;
    right: 40px;
}