#content{
    height: 90vh;
}
#image{
    max-width: 1000px;
    max-height: 600px;
}

/* #workspace{
    position: relative;
}
#workspace label{
    position: absolute;
    top: 50%;
    left: 45%;
} */