#mainDiv{
    border: 1px solid #000;
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    gap: 10px; 
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
}
.subDiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    /* display: inline-block;
    margin: 0 12px; */
}