*{
    padding: 0;
    margin: 0;
    background-color: #005461;
} 


#container{
    margin-top: 180px;
}
h1{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 55px;
    margin-bottom: 10px;
}


#main{
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}

#number{
    border: 2px solid #018790;
    border-radius: 5px;
    height: 18px;
    width: 130px;
    padding-left: 15px;
}

#submitBtn{
    height: 38px;
    width: 180px;
    border: 2px solid #018790;
    padding: 5px;
    font-size: 20px;
    font-weight: 20px;
    color: #F4F4F4;
    margin-top: 20px;
    border-radius: 10px;
    
}

#submitBtn:hover{
    background-color: #00B7B5;
}
#submitBtn:active{
    background-color: #115352;
} 

