#container{
    background-color: rgba(0, 255, 255, 0.981);
    height: auto;
    width: auto;
}

#calculator{
    background-color: black;
    height: 520px;
    width: 410px;
    border-radius: 20px;
    margin: 80px 250px 40px 550px;
    padding: 10px;
    box-shadow:10px 10px 10px rgb(8, 89, 89);
}

#screen{
    background-color: white;
    width: 90%;
    margin-top: 20px;
    height: 68px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    
}

#Btns{
    margin-left: 25px;
    margin-right: 25px;

}

.btn{
  display: flex;
  gap: 34px;
  border: none;

}

.bt{
  height: 60px;
  width: 100px;
  font-size: 20px;
}
.bt:hover{
    background-color: rgba(141, 235, 235, 0.984);
}

#clear{
    background-color: rgb(164, 13, 13); 
    border: none
}

#clear:hover{
    background-color: rgba(236, 36, 36, 0.947);
}

#clear:active{
    background-color: rgba(106, 9, 9, 0.866);
}

.submitBtn{
  margin-top: 15px;
  width: 360px;
  height: 60px;
  background-color: red;
  color: aliceblue;
  border: none;
}

.submitBtn:hover{
    background-color: rgba(172, 15, 15, 0.847);
}

.submitBtn:active{
    background-color: rgba(172, 15, 15, 0.41);
}